body{
  margin: 0;
  text-align: center;
}

.card{
  margin: 1rem auto;
  border: 2px solid black;
  font-weight: bold;
  max-width: 48rem;
  cursor: pointer;
}

.card:hover{
  border-color: blue;
}

.link{
  text-decoration: none;
  color: inherit;
}

h3{
  background-color: bisque;
  margin: 0;
  padding: 1rem;
}